<div class="modal-header">
    <h3 class="modal-title">Cadastro de Gênero</h3>
</div>	
<div class="modal-body">
	<fs-form-for  model="genero">
		<fs-input as="text" name="descricao" required="" label="Descrição: " placeholder="Digite a descrição"></fs-input>
		<div class="modal-footer">
			<button type="button"  class="btn btn-default" ng-click="close()">Fechar</button>
			<button class="btn btn-success btn-sm" ng-disabled="form.$invalid"  ng-click="salvarGenero()">Salvar</button>
		</div>
	</fs-form-for>
</div>