<div class="row">
	<fs-form-for model="livro">
		<fs-input as="text" name="nome" required="" label="Descrição: " placeholder="Digite o nome da descrição"></fs-input>
		<fs-input as="text" name="titulo" required="" label="Título: " placeholder="Digite o nome da título"></fs-input>
		<fs-input as="text" name="subTitulo" required="" label="Sub-Titulo: " placeholder="Digite o sub-titulo"></fs-input><fs-input as="text" name="isbn" required="" label="ISBN: " placeholder="Digite o nome do ISBN"></fs-input>
		<fs-input as="text" name="cdd" required="" label="CDD: " placeholder="Digite o nome do CDD"></fs-input>
		<fs-input as="text" name="edicao" required="" label="Edição: " placeholder="Digite o nome do Edição"></fs-input>
		<fs-input as="number" name="numerodetombo" required="" label="Numero de tombo: " placeholder="Digite o nome do numero de tombo">
		</fs-input>
		<div class="row">
			<fs-row label="Autor: ">
		      <div class="col-xs-4">
		        <div fs-select="" freetext="true" items="autores" ng-disabled="disabled" ng-model="livro.autor">
		          {{item.nome}}
		        </div>
		      </div>
		      <button type="button" class="btn btn-success"  ng-click="openDialogAutor()">
		      	<i class="glyphicon glyphicon-plus"></i>
		      </button>
	        </fs-row>
	    </div>
		<div class="form-group">
			<fs-row label="Género: ">
		      <div class="btn-group col-xs-4">
		        <div fs-select="" freetext="true" items="generos" ng-disabled="disabled" ng-model="livro.genero">
		          {{item.nome}}
		        </div>
		      </div>
		      <button type="button" class="btn btn-success" ng-click="openDialogGenero()">
		      	<i class="glyphicon glyphicon-plus"></i>
		      </button>
	        </fs-row>
	    </div>
	    <div class="form-group">
			<div class="btn-group col-xs-4">
				<label required="" class="btn btn-success" ng-model="livro.tipo" btn-radio="true">
					Livro
				</label>
				<label  required="" class="btn btn-danger" ng-model="livro.tipo" btn-radio="false">
					Revista
				</label>
			</div>

		</div>
	    <div  collapse="livro.tipo" class="panel panel-default" >
	    	<div class="panel-body" >
	    		<fs-input as="number" name="ano" required="" label="Ano de publicação: " placeholder="Digite o ano de publicação"></fs-input>
	    		<fs-input as="number" name="issn" required="" label="ISSN: " placeholder="Digite o ISSN"></fs-input>
	    		<fs-input as="number" name="numeroRevista" required="" label="Numero daa revista: " placeholder="Digite o ano de publicação"></fs-input>
	    	</div>
	    		<div class="modal-footer">
	    			<button type="button" class="btn btn-success" ng-click="">
		      			Adicionar Artigos
		      			<i class="glyphicon glyphicon-plus"></i>
		      		</button>	
	    		</div>
	    	</div>
	    <div class="modal-footer">
	    	<button class="btn btn-success btn-sm"  ng-click="salvar()">
	    		Salvar
	    	</button>
	    </div>	
	</fs-form-for>
</div>
