<div class="modal-header">
  <h3 class="modal-title">Cadastro de Coleção</h3>
</div>
<div class="modal-body">
  <fs-form-for model="colecao">
    <fs-input as="text" name="nome" required="" label="Nome: " placeholder="Digite o nome"></fs-input>
    <fs-input as="text" name="descricao" required="" label="Descrição: " placeholder="Digite a descrição"></fs-input>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="close()">Fechar</button>
      <button class="btn btn-success btn-sm" ng-disabled="form.$invalid"   ng-click="salvarColecao()">Salvar</button>
    </div>
  </fs-form-for>
</div>
